<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTablewearList">
		SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='1.식기'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectActivityList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='0.체험'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectHouseItemsList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='2.생활용품'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectStationeryList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='3.문구'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectAccList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='4.악세사리'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectClothList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='5.의류'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectEtcList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='6.잡화'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="selectInteriorList">
	SELECT PRODUCT_NO
		,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME='7.인테리어소품'
		AND STATUS='Y'
		AND FILE_LEVEL='1'
	</entry>
	
	<entry key="increaseCount">
	UPDATE PRODUCT
		SET PRODUCT_HITS = PRODUCT_HITS + 1 
		WHERE PRODUCT_NO = ?
		AND STATUS = 'Y' 
	</entry>
	
	<entry key="selectProduct">
	SELECT PRODUCT_NO
,CATEGORY_NAME
,MASTER_NO
,PRODUCT_NAME
,PRODUCT_PRICE
,PRODUCT_DESCRIPTION
,PRODUCT_DATE
,PRODUCT_STOCK
,PRODUCT_HITS
,DELIVERY_FEE
,EXP_PERIOD
,FILE_PATH
,STR_NAME
		FROM PRODUCT P
		LEFT JOIN MASTER M USING (MASTER_NO)
		JOIN ATTACHMENT A USING (PRODUCT_NO)
		WHERE PRODUCT_NO = ?
		AND P.STATUS = 'Y' 
        AND A.FILE_LEVEL=1
	</entry>
	<entry key="selectAttachmentList">
	 SELECT 
	ATTACHMENT_NO
,PRODUCT_NO
,FILE_NAME
,SYS_NAME
,FILE_LEVEL
,FILE_PATH
	
		FROM ATTACHMENT A
		JOIN PRODUCT P USING (PRODUCT_NO)
		WHERE PRODUCT_NO = ?
		AND P.STATUS = 'Y'
		ORDER BY FILE_LEVEL
	</entry>
	
	<entry key="selectLowPriceList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_PRICE ASC
	</entry>
	
	
	<entry key="selectHighPriceList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_PRICE DESC 
	</entry>
	
	<entry key="selectRecentProductList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_DATE DESC 
	</entry>
	
	<entry key="selectBestProductList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE CATEGORY_NAME=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_HITS DESC 
	</entry>
	
	<entry key="selectMasterStoreList">
	   SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		,STR_NAME
		FROM PRODUCT P
		LEFT JOIN MASTER M USING (MASTER_NO)
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE MASTER_NO=?
		AND P.STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_DATE DESC
	</entry>
	
	<entry key="selectMasterStoreBestList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE MASTER_NO=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_HITS DESC 
	</entry>
	
	<entry key="selectMasterStoreLowPriceList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE MASTER_NO=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_PRICE ASC
	</entry>
	
	
	<entry key="selectMasterStoreHighPriceList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE MASTER_NO=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_PRICE DESC 
	</entry>
	
	<entry key="selectMasterStoreRecentProductList">
	SELECT PRODUCT_NO
	,CATEGORY_NAME
		,MASTER_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,PRODUCT_DATE
		,PRODUCT_STOCK
		,PRODUCT_HITS
		,FILE_PATH
		FROM PRODUCT
		JOIN ATTACHMENT USING(PRODUCT_NO)
		WHERE MASTER_NO=?
		AND STATUS='Y'
		AND FILE_LEVEL='1'
		ORDER BY PRODUCT_DATE DESC 
	</entry>
   
    <entry key="insertProduct">
		INSERT INTO PRODUCT
		VALUES(SEQ_PNO.NEXTVAL,
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   SYSDATE,
			   ?,
			   NULL,
			   ?,
			   ?,
			   ?
			   )
					
	</entry>
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(ATTACHMENT_NO,
							   PRODUCT_NO,
							   FILE_NAME,
							   SYS_NAME,
							   FILE_PATH,
							   FILE_LEVEL
							   )
					VALUES(SEQ_FILENO.NEXTVAL,
						   SEQ_PNO.CURRVAL,
						   ?,
						   ?,
						   ?,
						   ?)
	</entry>
	<entry key="masterProductList">
		SELECT *
		FROM (
		      SELECT ROWNUM RNUM,A.*      
		      FROM	(
		            SELECT PRODUCT_NO,
		                   CATEGORY_NAME,
		                   P.MASTER_NO,
		                   PRODUCT_NAME,
		                   PRODUCT_PRICE,
		                   PRODUCT_DESCRIPTION,
		                   PRODUCT_DATE,
		                   PRODUCT_STOCK,
		                   PRODUCT_HITS,
		                   P.STATUS,
		                   DELIVERY_FEE,
		                   EXP_PERIOD
		            FROM PRODUCT P
		            JOIN MASTER MS ON(P.MASTER_NO=MS.MASTER_NO)
		            JOIN MEMBER ME ON(MS.MEM_NO=ME.MEM_NO)
		            WHERE ME.MEM_NO = ?
		            ORDER BY PRODUCT_DATE DESC) A
		           )
		
	</entry>
	<entry key="selectProduct1">
		SELECT PRODUCT_NO,
			   CATEGORY_NAME,
			   MASTER_NO,
		       PRODUCT_NAME,
		       PRODUCT_PRICE,
		       PRODUCT_DESCRIPTION,
		       PRODUCT_DATE,
		       PRODUCT_STOCK,
		       STATUS,	
		       DELIVERY_FEE,
		       EXP_PERIOD
		FROM PRODUCT
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectAttachmentList">
		SELECT  ATTACHMENT_NO,
				PRODUCT_NO,
		        FILE_NAME,
		        SYS_NAME,
		        FILE_PATH
		FROM ATTACHMENT
		WHERE PRODUCT_NO = ? 
	</entry>

	<entry key="updateProduct">
		UPDATE PRODUCT
		SET PRODUCT_NAME = ?,
			CATEGORY_NAME = ?,
			PRODUCT_PRICE = ?,
			DELIVERY_FEE = ?,
			PRODUCT_STOCK = ?,
			PRODUCT_DESCRIPTION = ?,
			STATUS = ?,
			EXP_PERIOD = ?
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		SET FILE_NAME = ?,
			SYS_NAME = ?,
			FILE_PATH = ?
		WHERE ATTACHMENT_NO = ?
	</entry>
	<entry key="insertNewAttachment">
		INSERT INTO ATTACHMENT(ATTACHMENT_NO
						  ,PRODUCT_NO
						  ,FILE_NAME
						  ,SYS_NAME
						  ,FILE_PATH)
		VALUES (SEQ_FNO.NEXTVAL,?,?,?,?)
	</entry>
	<entry key="deleteProduct">
		UPDATE PRODUCT
		SET STATUS = 'N'
		WHERE PRODUCT_NO = ?
	</entry>
	
</properties>